PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/underdog_db
JWT_SECRET=replace-this-with-a-secure-secret

TICKETMASTER_API_KEY=replace-this-with-your-ticketmaster-consumer-key

SOUNDCLOUD_CLIENT_ID=
SOUNDCLOUD_CLIENT_SECRET=

TIDAL_CLIENT_ID=
TIDAL_CLIENT_SECRET=
